/*
Custom Styles
*/
.navbar-fixed-top .content-wrapper {
  padding-top: 3.5rem;
}

.breadcrumb {
  border-bottom: 1px solid #c8ced3;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

.content {
  margin-top: 1rem;
}

/* Justify content in center of viewport. see blank-layout login-page */
.app-justify-center {
  display: flex;
  min-height: 100vh;
}

